body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: #F1ADBF;
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;

}
.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
  width: 140px;
  height: 30px;
  font-weight: lighter;
  font-size: 10px;
  letter-spacing: 1px;
  background-color: #F1ADBF;
  border: 2px solid #b0175e;
}

.addOption:focus {
  outline: none;
}

.addOption:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  outline: none;
  background-color: #F9DFED;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.submit {
  margin-top: 15px;
  width: 120px;
  height: 40px;
  font-weight: lighter;
  font-size: 14px;
  background-color: #b0175e;
  letter-spacing: 2px;
  margin-bottom: 50px;
  background-color: #F1ADBF;
  border: 2px solid #b0175e;
}

.submit:focus {
  outline: none;
}

.submit:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  background-color: #F9DFED;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
